body{
    margin: 0%;
}
nav{display: flex;
    align-items: center;
    height: 50px;
    width: 650px;
    border: 2px black solid;
    float: right;
    position: relative;
    position: relative;
    top: 35px;
    right: 50px;
    
    
    }
    nav ul{list-style: none;
        display: flex;
        width: 100%;
        margin: 0;}
    nav ul li {
       height: 30px;
        align-items: center;
        justify-content: center;
        display: flex;
        color: black;;
       font-style: unset;
       font-size: 20px;
       width: 100%;
       margin: 0%;
       }
       header{
        background-color: beige;
        height: 700px;
        border: 2px black solid;
        width: 100%;
        margin: 0%;
       }
     nav ul li:hover{color: blueviolet;
        background: linear-gradient(pink, yellow)
    }
    .txt{
        
        width: 50%;
        }
    div, .txt{
        position: relative;
        top: 300px;
        left: 100px;
        
    }
    main{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0%;
        width: 70%;
        
        
    }
    main div img{
        width: 900px;
        height: 750px;
        border: 2px black solid;
    }
    .texto{
        width: 900px;
        height: 750px;
        margin: 0%;
        margin-left: 20px;
        
        
    }
    main h2{
        justify-content: center;
        
        
    }
    